{% load static %}<!doctype html>
<html lang="fr">
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gocea">
    <meta name="keywords" content="HTML5,CSS3,Python3,Django,neo4j">
    <meta name="author" content="Franc SERRES">
    <meta name="dcterms.rightsHolder" content="GNU General Public License 3">
    <meta name="dcterms.rights" content="http://www.gnu.org/licenses/gpl-3.0.fr.html">
    <meta name="dcterms.dateCopyrighted" content="2017">
    {% block meta %}<!-- No Meta -->{% endblock %}
    <!-- endMetas -->
    <!-- Title -->
    <title>{% block title %}<!-- No Title -->{% endblock %}</title>
    <!-- endTitle -->
    <!-- Links -->
    <link rel="shortcut icon" type="image/png" href="{% static 'gocea/img/favicon.png' %}" />
    {% block links %}<!-- No Links -->{% endblock %}
    <!-- endLinks -->
    <!-- Styles -->
    <link rel='stylesheet'  type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet"  type="text/css" href="{% static 'gocea/css/font-awesome.min.css' %}">
    {% block styles %}<!-- No Styles -->{% endblock %}
    <!-- endStyles -->
    <!-- Scripts -->
    {% block javascript %}<!-- No Scripts -->{% endblock %}
    <!-- endScripts -->
</head>
<body role="document">
<header role="banner">
    {% block header %}<!-- No Header -->{% endblock %}
</header>
    
<navbar role="navigation" id="navbaron">
    {% block navbar %}<!-- No Navigation -->{% endblock %}
</navbar>

{% block messages %}<message role="alert"><!-- No Message --></message>
{% endblock %}

<main role="main">{% block content %}<!-- No Content -->{% endblock %}</main>

<aside role="aside">{% block aside %}<!-- No Aside -->{% endblock %}</aside>

<footer role="footer">{% block footer %}<!-- No Footer -->{% endblock %}</footer>

{% block scripts %}<!-- No Scripts -->{% endblock %}
</body>
</html>
