{% extends "gocea/base.html" %}{% load static %}{% load compile_static %}

{% block title %}Gocea{% endblock %}

{% block links %}{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/index.less'|compile %}"/>{% endblock %}

{% block javascript %}{% endblock %}

{% block header %}<section class="Entete">
        <h1>Gocea</h1>
        {% if user.is_authenticated %}<h4>{{ user }}</h4>{% endif %}
    </section>{% endblock %}

{% block navbar %}<!-- Navbar small, large, medium screens -->
    <ul class="navbar">
        <!-- small screens -->
        <li>
                <a href="#navbaron"><i class="fa fa-bars"></i></a>
                <a href="#"><i class="fa fa-minus-square"></i></a>
        </li>
        <!-- medium and large screens -->
        <li>
            <a href="{% url 'gocea' %}"><i class="fa fa-home"></i>Supervision<span class="hide-tablet"> d'organisation</span></a>
        </li>
        <li>
            <a href="{% url 'gocea' %}" title="Modifiez les données des suivis d'actions"><i class="fa fa-pencil"></i>Suivi<span class="hide-tablet"> administratif</span></a>
        </li>
        {% if user.is_superuser %}<li>
            <a href="{% url 'admin:index' %}" title="Administrez l'application"><i class="fa fa-rocket"></i>Administration</a>
        </li>{% endif %}
        {% if user.is_authenticated %}<li class="hide-large">
            <a href="{% url 'logout' %}" title="Cliquez sur ce bouton pour vous déconnecter"><i class="fa fa-power-off"></i>Déconnexion</a>
        </li>
        <li>
            <a href="{% url 'logout' %}" title="Cliquez sur ce bouton pour vous déconnecter"><i class="fa fa-power-off"></i>Se déconnecter</a>
        </li>{% endif %}
    </ul>

    <!-- Panel small screens -->
    <ul id="Sidenav">
        <li>
        <a href="{% url 'gocea' %}"><i class="fa fa-home"></i>Supervision d'organisation</a>
        </li>
        <li>
        <a href="{% url 'gocea' %}"><i class="fa fa-pencil"></i>Suivi administratif</a>
        </li>
        {% if 'Administrateur' in g.user.roles %}<li>
        <a href="{% url 'admin:index' %}"><i class="fa fa-rocket"></i>Administration de l'organisation</a>
        </li>{% endif %}
        {% if g.user.is_authenticated %}<li>
        <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i>Déconnexion</a>
        </li>{% endif %}
    </ul>{% endblock %}

{% block content %}
  <h1>Welcome to site</h1>
  <p><a href="{% url 'logout' %}">Log out</a></p>
{% endblock %}
