/*fichier login.less*/ 
/*GPL V3*/


@keyframes wallpaper {
    0% {background: url('/static/img/connexion0.svg') no-repeat fixed center center; background-size: cover;}
    20% {background: url('/static/img/connexion1.svg') no-repeat fixed center center; background-size: cover;}
    40% {background: url('/static/img/connexion2.svg') no-repeat fixed center center; background-size: cover;}
    60% {background: url('/static/img/connexion3.svg') no-repeat fixed center center; background-size: cover;}
    80% {background: url('/static/img/connexion4.svg') no-repeat fixed center center; background-size: cover;}
    100% {background: url('/static/img/connexion0.svg') no-repeat fixed center center; background-size: cover;}
}

body {
    background: url('/static/img/connexion0.svg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
    animation-name: wallpaper;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

figure {
    width: 213px;
    height: 64px;
    background: url('/static/img/logo.png') no-repeat;
    margin: 30px auto;
}

section {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
    h1 {
        text-align: center;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    };
    form {
        input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
            &.nickname {
                background: #fff url('/static/img/user.png') 20px top no-repeat;
                background-size: 16px 80px;
                &:focus {
                    background: #fff url('/static/img/user.png') 20px bottom no-repeat;
                    background-size: 16px 80px;
                };
            };
            &.password {
                background: #fff url('/static/img/password.png') 20px top no-repeat;
                background-size: 16px 80px;
                &:focus {
                    background: #fff url('/static/img/password.png') 20px bottom no-repeat;
                    background-size: 16px 80px;
                };
            };
            &:active {
                border: 1px solid #ff656c;
            };
            &:focus {
                border: 1px solid #ff656c;
            };
        };
        button {
            width: 100%;
            height: 40px;
            background: #ff656c;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #e15960;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
            &:hover {
                background: #ff7b81;
            };
        };
    };
}

header[role='banner']{
    p { 
        background: #f0d6d6; padding: 0.5em;
        text-align: center;
    }; 
}
