/*Import colors framework*/
@import "colors";
/*Import colors framework*/
@import "sizes";
/*Import positions framework*/
@import "positions";
/*Fin import positions framework*/
/*Import layout framework*/
@import "layouts";
/*Fin import layout framework*/
/*Import effects framework*/
@import "effects";
/*Fin import effects framework*/
/*Import widgets framework*/
@import "widgets";
/*Fin import widgets framework*/
/*Import graphic framework*/
@import "main";
/*Fin import graphic framework*/

/*Affichage de petites résolutions <=625px*/
@media screen and (max-width:625px) {
    .navbar li:not(:first-child){float:none;width:100%!important}
    .navbar li.right{float:none!important}
    .navbar{text-align:center}
};
@media (max-width:430px) {
    span.hide-phone {display:none!important;};
};
@media (max-width:625px) {
    span.hide-mobile {display:none!important;};
    /*Gestion de l'affichage de la barre de navigation*/
    /*Supprime les texte de la barre de menu*/
    navbar > ul.navbar > li:not(:first-child) {
        display:none!important;
        };

    /*Supprime l'information principale*/
    main > section > h2:first-child{
        display:none!important;
    };

    /*Gestion de l'affichage du panneau de menu*/
    navbar {
        width:100%;
        &:target #Sidenav {
            .show;
            margin-top:0px;
        };
        &:target ul.navbar > li:first-child > a:nth-child(2) {
            .show;
            overflow:hidden;
        };
        &:target ul.navbar > li:first-child > a:first-child {
            .hide;
            overflow:hidden;
        };
    };
};
/*Affichage entre 626px et 992px*/
@media (max-width:992px) and (min-width:626px) {
    /*Supprime le texte superflu*/
    /*navbar > ul > li > a > span {
        display:none!important;
        };*/
    span.hide-tablet {display:none!important;};
    /*Supprime l'affichage du bouton panneau latéral*/
    navbar > ul > li:first-child {
        display:none!important;
        };
    /*Affiche un texte différent de déconnexion*/
    navbar > ul > li:last-child {
        display:none!important;
        };
};
@media screen and (max-width:992px) {
    #Sidenav.collapse{display:none}
    .main{margin-left:0!important;margin-right:0!important}
};
/*Affichage de plus de 992px*/
@media screen and (min-width:993px) {
    span.hide-pc {display:none!important;};
    #Sidenav.collapse{display:block!important}
};
@media (min-width:993px) {
    /*Supprime l'affichage du bouton panneau latéral*/
    navbar > ul > li:first-child {
        display:none!important;
        };
    /*Affiche un texte différent de déconnexion*/
    navbar > ul > li:nth-last-child(2) {
        display:none!important;
        };
};

/*Barre de menus*/
/*Cacher menu latéral*/
navbar > ul.navbar > li:first-child > a:nth-child(2){
    .hide;
};

/*Menu latéral*/
.sidenav(@text-menu-color: @black, @bg-menu-color: @white, @text-menu-color-hover: @white, @bg-menu-color-hover: @black, @defaut-menu: 1, @defaut-menu-text-color: @black, @defaut-menu-bg-color: @red, @defaut-menu-hover-text-color: @black, @defaut-menu-hover-bg-color: @white){
    .animate-left;
    /*mise en page panneau*/
    margin-top:0px;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
    /*width:320px;*/
    /*z-index:5;*/
    /*Mise en page texte*/
    /*Couleur de fond des menus*/
    background-color:@bg-menu-color !important;
    .left-align;
    /*liens panneau latéral*/
    li {
        display:block;
        /*Apparence menu actif*/
        &:nth-child(@{defaut-menu}){
            /*fond texte*/
            background-color:@defaut-menu-bg-color;
            i{.margin-right;};
            a{
                color:@defaut-menu-text-color;
            };
            display:block;
            padding:8px 16px;
        };
        /*Apparence menus*/
        &:not(:nth-child(@{defaut-menu})){
            i{.margin-right;};
            /*Couleur texte menu*/
            a{color:@text-menu-color;};
            display:block;
            padding:8px 16px;
        };
        &:hover{
            /*Apparence survol menu actif*/
            &:nth-child(@{defaut-menu}){
                a {color:@defaut-menu-hover-text-color;};
                background:@defaut-menu-hover-bg-color;
            };
            /*Apparence survol menus*/
            &:not(:nth-child(@{defaut-menu})){
                a {color:@text-menu-color-hover;};
                background-color:@bg-menu-color-hover;
            };
        };
    };
};

navbar > ul#Sidenav{
    .hide;
    /*text-color; bg-color; hover-text-color; bg-hother-color; defaut-menu; defaut-menu-text-color; defaut-menu-bg-color; defaut-menu-hover-text-color; defaut-menu-hover-bg-color*/
    .sidenav(@white, @dark-blue, @dark-blue, @white, 1, @white, @teal, @white, @dark-blue);
};

/***************/
/*Barre de menus*/
/***************/
.menubar(@text-menu-color: @black, @bg-menu-color: @white, @text-menu-color-hover: @white, @bg-menu-color-hover: @black, @defaut-menu: 2, @defaut-menu-text-color: @black, @defaut-menu-bg-color: @red, @defaut-menu-hover-text-color: @black, @defaut-menu-hover-bg-color: @white) {
    /*Apparence fond de barre navigation*/
    background-color: @bg-menu-color !important;
    /*.dark-blue;*/
    /*Alignements et mise en page*/
    .left-align;
    .large;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    /*Effet de click*/
    li {
        /*alignement des menus*/
        float:left;
        display:block;
        padding:8px 16px;
        /*Gestion alignement menus*/
        /*Alignement bouton selecteur paneau*/
        &:first-child, &:last-child, &:nth-last-child(2){
            .right;
        };
        /*Gestion bouton panneau latéral*/
        /*&:first-child{
            .right;
        };*/
        /*couleur menus*/
        &:nth-child(@{defaut-menu}) a{
            /*Couleur menu sélectionné*/
            color: @defaut-menu-text-color !important;
            i{.margin-right(8px);};
        };
        &:not(:nth-child(@{defaut-menu})) a{
            /*Couleur autres menus*/
            color: @text-menu-color !important;
            i{.margin-right(8px);};
        };
        &:first-child a{
            /*Couleur autres menus*/
            color: @text-menu-color !important;
            i{.margin-right(0px);};
        };

        /*Gestion des menus*/
        &:hover{
            &:first-child a{
                /*Couleur du lien au survol*/
                color: @text-menu-color-hover !important;
            };
            &:not(:first-child) a{
                /*Couleur du lien au survol*/
                color: @text-menu-color-hover !important;
                /*Marge symbole*/
                i{.margin-right(8px);};
            };
            /*couleur de fond du survol*/
            background-color: @bg-menu-color-hover !important;
        };
        /*Gestion menu actif*/
        &:nth-child(@{defaut-menu}){
            /*Couleur fond menu actif*/
            background-color: @defaut-menu-bg-color !important;
            /*Marge a droite pour les icônes sauf pour le sélecteur panneau*/
            &:hover{
                /*couleur texte survol*/
                a{
                    color: @defaut-menu-hover-text-color !important;
                    /*Marge symbole*/
                    i{.margin-right(8px);};
                };
                /*couleur de fond survolée*/
                background-color: @defaut-menu-hover-bg-color !important;
                cursor:pointer;
                /*opacity:0.8;*/
            };
        };
    };
};

navbar{
    ul{
        &.navbar{
            /*text-color; bg-color; hover-text-color; bg-hother-color; defaut-menu + 1; defaut-menu-text-color; defaut-menu-bg-color; defaut-menu-hover-text-color; defaut-menu-hover-bg-color*/
            .menubar(@white, @dark-blue, @dark-blue, @white, 2, @white, @teal, @white, @dark-blue);
        };
    };
};

/***************************************/
/* Selection and display of collection */
/***************************************/
/*déclaration des panneaux*/
article {
    .panel(@white; @dark-blue; @teal);
};

/*déclaration des selects*/
main section article:first-child fieldset div select {
    .select;
    .show;
};

/*déclaration des boutons*/
input[type="submit"], input[type="button"], button[type="submit"], button[type="button"]{
    .button;
};
