/*fichier main.less*/ 
/*GPL V3*/

/*************************/
/* Mise en page générale */
/*************************/

/*Configuration de compatibilité navigateurs*/
*{-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box}
html{-ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;
                    vertical-align:baseline}
audio:not([controls]){display:none;
                        height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
mark{background:#ff0;
    color:#000}
small{font-size:80%}
sub,sup{font-size:75%;
        line-height:0;
        position:relative;
        vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;
    box-sizing:content-box}
code,kbd,pre,samp{font-family:monospace,monospace;
                    font-size:1em}
button,input,select,textarea{font:inherit;
                                margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;
                                                                    cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;
                                                padding:0}
input[type=checkbox],input[type=radio]{padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{box-sizing:content-box;
                    -webkit-appearance:textfield;
                    -moz-box-sizing:content-box;
                    -webkit-box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;
        margin:0 2px;
        padding:.35em .625em .75em}
legend{border:0;
        padding:0}
pre,textarea{overflow:auto}

/*+++++++++++++*/
/*Balises html5*/
/*+++++++++++++*/
/*Corps de page*/
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif};
body{
    background-color: @sand;
};

.error{ background: #f0d6d6; padding: 0.5em;};



/**********************************************************/
/*couleurs de fond élémentaires des taches diagramme Gantt*/
/**********************************************************/
.blue .gantt_cell, .odd.blue .gant_cell, .blue .gantt_task_cell, .odd.blue .gantt_task_cell{
	background-color: blue;
};
.green .gantt_cell, .odd.green .gantt_cell, .green .gantt_task_cell, .odd.green .gantt_task_cell {
    background-color: green;
};
.gray .gantt_cell, .odd.gray .gant_cell, .gray .gantt_task_cell, .odd.gray .gantt_task_cell{
	background-color: gray;
};
.red .gantt_cell, .odd.red .gantt_cell,
.red .gantt_task_cell, .odd.red .gantt_task_cell{
    background-color: red;
};
/*couleurs de fond suivant état (priority) des taches diagramme Gantt*/ 
.creation .gantt_cell, .odd.creation .gant_cell, .creation .gantt_task_cell, .odd.creation .gantt_task_cell{
    background: lightcyan;
};
.encours .gantt_cell, .odd.encours .gantt_cell, .encours .gantt_task_cell, .odd.encours .gantt_task_cell {
    background-color: lightgreen;
};
.attention .gantt_cell, .odd.attention .gantt_cell, .attention .gantt_task_cell, .odd.attention .gantt_task_cell {
    background-color: orange;
};
.enalerte .gantt_cell, .odd.enalerte .gantt_cell,
.enalerte .gantt_task_cell, .odd.enalerte .gantt_task_cell{
    background-color: red;
};
.fini .gantt_cell, .odd.fini .gant_cell, .fini .gantt_task_cell, .odd.fini .gantt_task_cell{
    background-color: lightgray;
};
.suspendu .gantt_cell, .odd.suspendu .gant_cell, .suspendu .gantt_task_cell, .odd.suspendu .gantt_task_cell{
    background-color: #ffcfcf;
};
.annule .gantt_cell, .odd.annule .gant_cell, .annule .gantt_task_cell, .odd.annule .gantt_task_cell{
    background-color: #3d2222;
};

/* Affichage grille Gantt */
.custom_row{
	background:rgb(245, 248, 245);
};

/* Apparence calandrier */
.weekend{
    background: #f4f7f4;
};
.gantt_selected .weekend{
    background: #f7eb91;
};

.selectgantt{
    float: left;
    width:150px;
};

.gerebd{
    float: left;
    width:250px;
    margin-right: 200px;
};

.geregantt{
    width:300;
    margin-right:10px;
};

.affiche_gantt{
    width:100%;
    height:670px;
};

.filters_wrapper{
    line-height: 12px;
    font-size: 12px;
};

.filters_wrapper span{
    font-weight: bold;
    padding-right: 5px;
};

.dates{
    line-height: 12px;
    font-size: 12px;
};

.dates span{
    font-weight: bold;
    padding-right: 5px;    
};
/*fin fichier main.less*/ 
