/*Gestion affichages*/
.hide{display:none!important};
.show{display:block!important};
.show-inline{display:inline-block!important};

/*Dispositions*/
.position(){
    /*Affichage absolu*/
    .display-topleft(){position:absolute;left:0;top:0};
    .display-topright(){position:absolute;right:0;top:0};
    .display-bottomleft(){position:absolute;left:0;bottom:0};
    .display-bottomright(){position:absolute;right:0;bottom:0};
    .display-middle(){position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)};
    .display-topmiddle(){position:absolute;left:0;top:0;width:100%;text-align:center};
    .display-bottommiddle(){position:absolute;left:0;bottom:0;width:100%;text-align:center}
    /*Bandeau*/
    .banner(){position:fixed;width:100%;z-index:1;};
    /*Position block*/
    .top(){top:0};
    .bottom(){bottom:0};
    .left(){float:left!important};
    .right(){float:right!important};
    /*Textes*/
    .text-vertical(){word-break:break-all;line-height:1;text-align:center;width:0.6em};
    .text-left(){text-align:left!important};
    .text-right(){text-align:right!important};
    .text-justify(){text-align:justify!important};
    .text-center(){text-align:center!important};

};

.top{top:0};
.bottom{bottom:0};
.left{float:left!important};
.right{float:right!important};
/*.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2};*/
.vertical{word-break:break-all;line-height:1;text-align:center;width:0.6em};
.left-align{text-align:left!important};
.right-align{text-align:right!important};
.justify{text-align:justify!important};
.center{text-align:center!important};
.top,.bottom{position:fixed;width:100%;z-index:1};
.display-topleft{position:absolute;left:0;top:0};
.display-topright{position:absolute;right:0;top:0};
.display-bottomleft{position:absolute;left:0;bottom:0};
.display-bottomright{position:absolute;right:0;bottom:0};
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)};
.display-topmiddle{position:absolute;left:0;top:0;width:100%;text-align:center};
.display-bottommiddle{position:absolute;left:0;bottom:0;width:100%;text-align:center}

 
