/*++++++++++++++++++++++++++++++++++++++++++++*/
/*          Graphic Framework widget          */
/*++++++++++++++++++++++++++++++++++++++++++++*/

/**********/
/* Output */
/**********/
/* Label */
/* Tooltip/Balloon help */
    /*Impossible de modifier l'apparence de l'attribut tooltip*/
/* Status bar */
/* Progress bar */
progress#avancement:hover:after{
    display:block;
    padding: 0px;
    margin-top: -2px;
    text-align: center;
    content: attr(value)'%';
};
/* Infobar */

/*-----------*/
/* Contenair */
/*-----------*/
    .container{
        padding:0.01em 16px;
        &:after{
            content:"";
            display:table;
            clear:both;
        };
    };
/**********/
/* Window */
/**********/
/*Collapsible panel*/
/*Accordion*/
/*Modal windows*/
/*Dialog box*/
/*Palette windows*/
    /*Inspector windows*/
/*Frame*/
    /*Fond de panneaux*/
    /*Panels*/
    .card{.shadow-small;};
    /*.panel{padding:0.01em 16px;margin-top:16px!important;margin-bottom:16px!important};*/
    .panel(@titre-text-color; @bg-titre-color; @bg-pannel-color) {
        .left;
        .margin-top;
        .margin-bottom;
        @media (min-width:626px) {
            .margin-left;
            .margin-right;
            width: 95%;
        };
        @media (max-width:625px) {
            .large;
            width: 100%;
        };
        fieldset {
            .container;
            .padding(32px);
            .card;
            background-color: @bg-pannel-color !important;
            /*
            color:@white!important;
            background-color:@teal!important;
            */
            legend {
                .card;
                .border-radius;
                color: @titre-text-color !important;
                background-color: @bg-titre-color !important;
                /*
                color:@white!important;
                background-color: @dark-blue!important;
                */
                position: relative;
                float: left;
                height: 30px;
                margin-top: -45px;
                padding: 4px 8px;
                opacity: 0.9;
            };
        };
    };
    .TitreZone
/*Canvas*/
/*Covoer Flow*/
/*Bubble Flow*/

/*--------------------------------------*/
/* Selection and display of collections */
/*--------------------------------------*/
/**********/
/* Button */
/**********/
/*Radio button*/
/*Check box*/
/*Split button*/
/*Cycle button*/
/**********/
/* Slider */
/**********/
/************/
/* List Box */
/************/
/***********/
/* Spinner */
/***********/
/******************/
/* Drop-down list */
/******************/
/********/
/* Menu */
/********/
/*Context nenu*/
/*Pie menu*/
/************/
/* Menu bar */
/************/
/***********/
/* Toolbar */
/***********/
/*Ribbon*/
/*************/
/* Combo box */
/*************/
/**********/
/* Icon */
/**********/
/*************/
/* Tree view */
/*************/
/*************/
/* Grid view */
/*************/








/*Liste de sélection*/
select {.select;};
.select {
    color:@black;
    min-width:300px;
    .margin-bottom(@margin: 5px);
    /*.margin(@margin: 5px);*/
    padding:9px 0;
    border:1px solid transparent;
    border-bottom:1px solid @teal;
    &:focus{
        color:@black;
        border:1px solid @yellow;
        .shadow-large;
    }
    option[disabled]{color: @sand};
};


.button {
    .user-select;
    .presentation-btn;
    .padding-size(@medium);
    .color-btn;
    .border(@teal);
    .hover-border-dark-blue;
    .transition-btn;
    &:disabled{
                cursor:not-allowed;
                opacity:0.3;
                box-shadow:none;
                };
    .disabled *{
                pointer-events:none;
                &:hover{box-shadow:none};
                };
    &:hover{
            .hover-border-white;
            .shadow-large;
            };
};

/*boutons*/
.presentation-btn(){
    display:inline-block;
    /*float:left;*/
    cursor:pointer;
    outline:0;
    overflow:hidden;
    vertical-align:middle;
    padding:6px 16px;
    box-sizing: border-box;
    border:none;
    .border-radius(5px);
    font-weight: bold;
    text-align:center;
    text-decoration:none!important;
    white-space:nowrap;
};


/*Entete*/
header{
    max-width:100%;
    .teal;
};
.Entete{
    z-index:1;
    .container;
    .info-bg-color;
    h1{.info-bg-color;};
    h4{
        .text-white;
        .opacity;
    };
};

/*Messages*/
message{
    .container;
    width:100%;
    height:100%;
    overflow:auto;
    p{
        .error;
    };
};

/*Corps de l'application*/
main{
    .container;
    width:100%;
    height:100%;
    overflow:auto
};

/*barre lattérale*/
aside{
};

/*Pied de page*/
footer{
};
 
